{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-5 mx-auto">
        <h4 class="text-center mb-4">{{ club.name }} - Gérer les équipes</h4>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="{{ url('club', {'clubId':club.id}) }}">Informations</a></li>
            <li class="nav-item"><a class="nav-link active" href="{{ url('teams', {'clubId':club.id}) }}">Équipes</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url('courts', {'clubId':club.id}) }}">Terrains</a></li>
        </ul>
        <nav class="navbar navbar-dark bg-light">
            <a href="{{ url('team', {'clubId':club.id}) }}"><button class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter une équipe</button></a>
        </nav>
        <span>
            <div id="teams-list">
                {% if teams is empty %}
                    <div class="text-center mt-3">Aucune équipe enregistrée.</div>
                {% else %}
                    <div class="list-group">
                        {% for team in teams %}
                            <span class="list-group-item">
                                {% if team.validate == 0 %}
                                    <span class="badge badge-warning text-wrap">Non validée</span>
                                {% elseif team.active == 0 %}
                                    <span class="badge badge-danger text-wrap">Inactive</span>
                                {% endif %}
                                {{ team.name }} - {{ team.managerLastName }} {{ team.managerFirstName }}
                                <div class="text-right">
                                    <a href="{{ url('team', {'clubId':club.id, 'teamId':team.id}) }}"
                                       class="btn btn-outline-primary">Voir la page</a>
                                    <button class="btn btn-outline-danger supprimer" data-Id="{{ team.id }}">Supprimer</button>
                                </div>
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </span>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            let id;
            $(document).on('click', '.supprimer', function() {
                id = $(this).attr('data-Id');
                $('.modal-body').find('p').text("Souhaitez-vous vraiment supprimer cette équipe?");
                $('#modal').modal('show');
            });
            $('#modal').on('show.bs.modal', e => {
                $(this).find('.btn-success').on('click', function(){
                    $.ajax({
                        url: '/club/team',
                        type: 'DELETE',
                        data: {id:id}
                    });
                    $('#modal').modal('hide');
                    $("#teams-list").parent().load(document.URL + " #teams-list");
                });
            });
        })
    </script>
{% endblock %}