{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-5 mx-auto">
        <h4 class="text-center mb-4">{% if court.club.id is defined %}{{ court.club.name }} - {{ court.place }} : {{ court.address }}{% else %}Ajouter un terrain{% endif %}</h4>
        <form method="POST">
            <input type="hidden" name="clubId" value="{% if court.club.id is defined %}{{ court.club.id }}{% endif %}">
            <input type="hidden" name="courtId" value="{% if court.id is defined %}{{ court.id }}{% endif %}">
            <div class="form-group">
                <label for="inputPlace">Ville</label>
                <input class="form-control" id="inputPlace" type="text" name="place" value="{% if court.id is defined %}{{ court.place }}{% endif %}" required/>
            </div>
            <div class="form-group">
                <label for="inputAddress">Adresse</label>
                <input class="form-control" id="inputAddress" type="text" name="address" value="{% if court.id is defined %}{{ court.address }}{% endif %}" required/>
            </div>
            <div class="form-group">
                <label>Créneau(x) :</label><br/>
                <div>
                    <input id="monday" type="checkbox" name="monday" {% if court.id is defined %}{% for day in court.days %}{% if day.id == 1 %}checked{% endif %}{% endfor %}{% endif %}/>
                    Lundi
                </div>
                <div>
                    <input id="tuesday" type="checkbox" name="tuesday" {% if court.id is defined %}{% for day in court.days %}{% if day.id == 2 %}checked{% endif %}{% endfor %}{% endif %}/>
                    Mardi
                </div>
                <div>
                    <input id="wednesday" type="checkbox" name="wednesday" {% if court.id is defined %}{% for day in court.days %}{% if day.id == 3 %}checked{% endif %}{% endfor %}{% endif %}/>
                    Mercredi
                </div>
                <div>
                    <input id="thursday" type="checkbox" name="thursday" {% if court.id is defined %}{% for day in court.days %}{% if day.id == 4 %}checked{% endif %}{% endfor %}{% endif %}/>
                    Jeudi
                </div>
                <div>
                    <input id="friday" type="checkbox" name="friday" {% if court.id is defined %}{% for day in court.days %}{% if day.id == 5 %}checked{% endif %}{% endfor %}{% endif %}/>
                    Vendredi
                </div>
                <div>
                    <input id="saturday" type="checkbox" name="saturday" {% if court.id is defined %}{% for day in court.days %}{% if day.id == 6 %}checked{% endif %}{% endfor %}{% endif %}/>
                    Samedi
                </div>
                <div>
                    <input id="sunday" type="checkbox" name="sunday" {% if court.id is defined %}{% for day in court.days %}{% if day.id == 7 %}checked{% endif %}{% endfor %}{% endif %}/>
                    Dimanche
                </div>
            </div>
            <div class="w-100 text-right">
                <input class="btn btn-primary saveCourt" type="submit" value="Enregistrer"/>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    /*$(document).ready(function(){
        $(document).on('click', '.addTimeSlot', function(){
            var alreadyExist = false;
            var startTimes = $('.timeSlotStartTime');
            var endTimes = $('.timeSlotEndTime');
            var startTime = parseInt($('#inputTimeSlotStartTime').val().replace(':', ''));
            var endTime = parseInt($('#inputTimeSlotEndTime').val().replace(':', ''));

            if (startTime >= endTime || isNaN(startTime) || isNaN(endTime)) {
                alreadyExist = true;
            }

            startTimes.get().forEach(function(s, i){
                endTimes.get().forEach(function(e) {
                    let intS = parseInt(s.value.replace(':', ''));
                    let intE = parseInt(e.value.replace(':', ''));
                    if (startTime > intS && startTime < intE || endTime > intS && endTime < intE || startTime <= intS && endTime >= intE) {
                        alreadyExist = true;
                    }
                });
            });

            if (alreadyExist) {
                alert("Créneau incorrect.");
            } else {
                $('#timeSlots').append('<li>' +
                    'De\n' +
                    '<input class="form-control col-md-2 d-inline timeSlotStartTime" type="text" name="timeSlotStartTime" value="' + $('#inputTimeSlotStartTime').val() + '" disabled/>\n' +
                    'À\n' +
                    '<input class="form-control col-md-2 d-inline timeSlotEndTime" type="text" name="timeSlotEndTime" value="' + $('#inputTimeSlotEndTime').val() + '" disabled/>\n' +
                    '<button type="button" class="btn btn-outline-primary deleteTimeSlot">Supprimer</button>' +
                    '</li>');
            }
        });

        $(document).on('click', '.deleteTimeSlot', function(){
            $(this).parent().remove();
        });

        $(document).on('click', '.saveCourt', function(){
            var startTimes = $('.timeSlotStartTime');
            var endTimes = $('.timeSlotEndTime');
            console.log(startTimes.get());
            $.post(
                "court/form",
                {
                    courtPlace:$('#inputCourtPlace').val(),

                }

            )
        });
    });*/
    </script>
{% endblock %}