{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-12 col-md-6 col-lg-5 mx-auto d-flex flex-column">
        <h1 class="mb-4 align-self-start">{{ championship.name }}</h1>

        <a href="{{ url('championship_page', {"championshipId": championship.id}) }}">Retour ...</a>

        <form class="col-12 col-sm-8 mx-auto" method="get">

            <div class="form-group">
                <label for="pool">Poule</label>
                <select class="form-control" name="pool" id="pool">
                    <option value="0">Choisir une poule</option>

                    {% for pool in championship.pools %}

                        <option value="{{ pool.id }}" {% if selectedPoolId == pool.id %}selected="selected"{% endif %}>{{ pool.name }}</option>

                    {% endfor %}

                </select>
            </div>

            <button type="submit" class="btn btn-primary">Sélectionner</button>

        </form>

        <table class="table">

            <tr>
                <th>Domicile</th>
                <th>Exterieur</th>
                <th>Phase</th>
            </tr>

            {% if pool != null %}

                {% for game in pool.games %}

                    <tr>
                        <td>{{ game.homeTeam.team.name }}</td>
                        <td>{{ game.outsideTeam.team.name }}</td>

                        {% if game.homeMatch %}

                            <td>Aller</td>

                        {% else %}

                            <td>Retour</td>

                        {% endif %}


                    </tr>

                {% endfor %}

            {% endif %}


        </table>

        <form class="d-flex justify-content-end" method="post">
            <input type="hidden" name="selectedPoolId" value="{{ selectedPoolId }}">

            <button type="submit" class="btn btn-primary">Générer les paires de matchs</button>
        </form>

    </div>

{% endblock %}