{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-12 col-md-6 col-lg-5 mx-auto d-flex flex-column">
        <h1 class="mb-4 align-self-start">{{ championship.name }}</h1>

        <a href="{{ url('championship_page', {"championshipId": championship.id}) }}">Retour ...</a>

        <form class="d-flex flex-column mb-5" method="post">
            <div class="form-group">
                <label for="poolName">Nom de la poule :</label>
                <input class="form-control" name="poolName" id="poolName" type="text" placeholder="Entrez un nom de poule" value="{{ poolName }}">
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
        </form>

        <table class="table">
            <tr>
                <th>Nom de la poule</th>
                <th></th>
            </tr>

            {% if championship.pools | length > 0 %}

                {% for pool in championship.pools %}

                    <tr>
                        <td>{{ pool.name }}</td>
                        <td><a href="{{ url('pool_remove', {"poolId": pool.id}) }}">Supprimer</a></td>
                    </tr>

                {% endfor %}

            {% else %}

                <tr>
                    <td>Il n'y a pas de poule existante</td>
                    <td></td>
                </tr>

            {% endif %}

        </table>

    </div>

{% endblock %}