{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-5 mx-auto">
        <h4 class="text-center mb-4">Gérer les clubs</h4>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline mx-auto" method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un club..." aria-label="Search" name="searchClub">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
            <form method="GET">
                <button class="btn btn-outline-secondary">Afficher tous les clubs</button>
            </form>
        </nav>
        <nav class="navbar navbar-dark bg-light">
            <a href="{{ url('club-form') }}"><button class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter un club</button></a>
        </nav>
        <div class="list-group">
            {% for club in clubs %}
                {% if club.active == 0 %}
                    <span class="list-group-item text-danger">
                {% else %}
                    <span class="list-group-item">
                {% endif %}
                    {{ club.name }} - {{ club.managerLastName }} {{ club.managerFirstName }}
                        <div class="text-right">
                            <a href="{{ url('club-form', {'id':club.id}) }}"
                               class="btn btn-outline-primary">Voir la page</a>
                            <button class="btn btn-outline-danger supprimer" data-Id="{{ club.id }}">Supprimer</button>
                        </div>
                    </span>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-success">Oui</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            let id;
            $('.supprimer').on('click', function() {
                id = $(this).attr('data-Id');
                $('.modal-body').find('p').text("Souhaitez-vous vraiment supprimer ce club?");
                $('#modal').modal('show');
            });
            $('#modal').on('show.bs.modal', e => {
                $(this).find('.btn-success').on('click', function(){
                    $.ajax({
                        url: '/club/form',
                        type: 'DELETE',
                        data: {id:id}
                    });
                });
            });
        })
    </script>
{% endblock %}